<div id="welcome">
    <h1 class="welcome"> Welcome to <%=@person.name.titleize%>'s Profile</h1>
</div>

<div class = "show-container">

    <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Members of Your Pack</button>
        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Upcoming Rentals</button>
        <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Previous Rentals</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h4> Puppies that have found a forever home with you! </h4>
            <div class="adopted-container">
            <% if @person.puppies.count > 0 %>
                    <%@person.puppies.each do |puppy|%>
                        <%if puppy.adoption == true%>
                        <div class="adopted-card">
                            <img class="index-img" src="<%= puppy.image%>" alt="<%= puppy.name %>"width="150" height="150">
                            <ul>
                                <li><%=puppy.name%><br>
                                </li>
                            </ul>
                        </div>    
                        <%end%>
                    <%end%> <br><br>
            <%else%>
                Looks like you havent adopted any puppies... <br><br>
            <%end%>
            </div>
        </div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <%if @person.rentals.count > 0 %>
                <div class="upcoming-container"> 
                    <% @person.rentals.each do |rental|%>
                        <%if rental.complete == nil  && rental.puppy.adoption == nil|| rental.complete == false && rental.puppy.adoption == nil && rental.puppy.adoption == nil%>
                        <div class="upcoming-card"> 
                            <img class="index-img" src="<%= rental.puppy.image%>" alt="<%= rental.puppy.name %>"width="150" height="150">
                            <ul>
                                <li class="puppy_name"><%=link_to rental.puppy.name, puppy_path(rental.puppy.id)%><br>
                                <p class="rental_time">Date: <%= rental.date%></p>
                                </li>
                            </ul>
                        
                            <div class="button_cancel"><%= button_to "Cancel Rental", rental_path(rental.id), method: :delete,data:{confirm:"Sure?"}, class:"btn btn-outline-warning btn_cancel" %>
                                <%= button_to "Completed!", rental_path(rental.id), method: :patch, class: "btn btn-outline-secondary btn1" %>
                            </div>
                        </div>    
                            <%end%>
                        <%end%>
                    </div>

            <%else%>
                <p class="upcoming">Looks like you dont have any upcoming Puppy Rentals...</p> <br><br>
            <%end%>
        </div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
            <div class="previous-container">
                <%if @person.rentals.count > 0 %>
                    <%@person.rentals.each do |rental|%>
                        <%if rental.complete == true && rental.puppy.adoption == nil%>
                            <div class="previous-card">
                                <img class="index-img" src="<%= rental.puppy.image%>" alt="<%= rental.puppy.name %>"width="150" height="150">
                                <ul>
                                    <li class="adopt_puppy"> <%=link_to rental.puppy.name, puppy_path(rental.puppy.id)%><br>
                                    </li>
                                </ul>
                                <%= button_to "Adopt this Puppy", puppy_path(rental.puppy.id), method: :patch, class: "btn btn-outline-secondary btn1"  %>
                            </div>
                        <%end%>
                <%end%>
                        
                    <%else%>
                        Looks like you dont have any completed Puppy Rentals... <br><br>
                    <%end%>
            </div>
        </div>
    </div>
    </div>

  
</div>